set incsearch
set linebreak
set modeline
set modelines=2
set scrolloff=3
set ignorecase
set smartcase
set wildignore=*.o,*.pyc,*.class,*.jar,venv,_site,build,target
filetype on
filetype plugin on
filetype indent on
autocmd BufWrite * set nobomb
set backspace=indent,eol,start
set clipboard=unnamed

source ~/.vimrc

autocmd FileType xml,xslt,xhtml,html,htmldjango,ant setlocal ts=2 sw=2
autocmd FileType c set fo=tqrocl
autocmd FileType ocaml setlocal ts=2 sw=2
autocmd BufRead *.atom set ft=xml
autocmd BufRead *.wsgi set ft=python
autocmd BufRead *.json set ft=javascript
autocmd BufRead *.md,*.txt set ft=markdown
autocmd BufRead *.go setlocal ft=go listchars=tab:\ \ ,trail:_ list noet
autocmd BufRead *.rc set ft=sh
autocmd BufRead *.clj set ft=clojure ts=2 sw=2 ai lisp lispwords=defn
autocmd BufRead *.erl set ft=erlang ts=2 sw=2
autocmd BufRead *.vala set ft=vala
autocmd FileType make setlocal noet listchars=tab:>-
autocmd FileType htmldjango setlocal tw=0
autocmd BufRead *.t set ft=cram
autocmd BufRead *.scala setlocal ft=scala ts=2 sw=2
autocmd BufRead *.coffee setlocal ft=coffee ts=2 sw=2
autocmd BufRead *.rs setlocal ft=rust

set listchars=tab:>-,trail:_ list

autocmd VimEnter * nmap <F3> :NERDTreeToggle<CR>
autocmd VimEnter * imap <F3> <Esc>:NERDTreeToggle<CR>a
let NERDTreeQuitOnOpen=1
let NERDTreeWinSize=35

